---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Sun from '../components/icons/sun.astro';
import Moon from '../components/icons/moon.astro';

// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Joshua Richardson: Personal Site"
			description="Joshua Richardson: Full-Stack Developer"
		/>
	</head>
	<body>
		<main class='px-10 bg-white font-roboto'>
			<section class='min-h-screen'>
				<nav class='flex justify-between py-10 mb-12'>
					<h1 class='text-xl'>Joshua Richardson</h1>
						<ul class='flex items-center'>
							<li class='inline-flex items-center mr-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg cursor-pointer hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'>
								<Sun />
								<Moon />
							</li>
							<li>
								<a href="#" class='px-5 py-2.5 mr-2 mb-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800'>
									Resume
								</a>
							</li>
						</ul>
				</nav>
				<div class='p-10 text-center'>
					<h3 class='py-2 text-2xl'>Full-Stack Engineer</h3>
					<p class='py-5 leading-8 text-gray-600 text-md'>
						Focusing on type-safe web development! I live to solve problems, 
						and am falling in love with functional programming
					</p>
				</div>
			</section>
		</main>
	</body>
</html>
